<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PrintToPSQLImplPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://25.59.123.43:1986/wss/printToPSQL"
                binding="basicHttpBinding" bindingConfiguration="PrintToPSQLImplPortBinding"
                contract="PSQLServiceReference.PrintToPSQLWebService" name="PrintToPSQLImplPort" />
        </client>
    </system.serviceModel>
</configuration>